.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-end;
    align-items: stretch;
    width: 636px;
    height: 226px;
    background: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.visually-hidden {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-end;
    align-items: stretch;
    width: 636px;
    height: 226px;
    background: #FFFFFF;
}
.input {
    font-size: 16px;
    color: #272526;
    padding-left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.show_selected {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    text-align: right;

    /* Brand/DeepBlue */

    color: #035B77;
}